---
title: "Going remote in education? Don't panic."
author: Christina Hupy, Ph.D.
author_gitlab: c_hupy
author_twitter: ChristinaHupy
categories: culture
image_title: '/images/blogimages/work_remote_coffee_green.jpg'
description: "If you're an educator moving online, we have some tips for virtual learning success."
tags: culture, inside GitLab, remote work
ee_cta: false
install_cta: false
postType: content marketing
merch_banner: merch_six
merch_sidebar: merch_six
---

Campuses around the world in both K-12 and higher education are moving to virtual models of instruction and operation to help reduce the spread of COVID-19. As a result, many faculty, students, staff and leadership are now in the position of navigating how to work, teach, and learn remotely with little to no preparation time and even fewer resources.  

Jumping into virtual education – voluntarily or otherwise – is not easy. Properly developing an online curriculum takes months and months of work, a coordinated tech stack, and a well-defined communication plan. Intentionally, online courses have IT staff to assist in the process of converting classes and generally only convert one at a time.  

Are you an educator facing a suddenly digital classroom? Are you worried about answering endless emails from panicked students? Dreading spending hours upon hours recording lectures? Wondering how you will be able to effectively communicate with all your students? 

As the world’s largest all-remote company with 1,200+ employees in 65 countries, GitLab has a wealth of resources to help navigate this challenge! The GitLab [remote work emergency plan]( /company/culture/all-remote/remote-work-emergency-plan/) can be adapted to help both students and educators get up and running quickly and function effectively in this new reality. 

We're excited to share a few immediately actionable tips for faculty, staff, and students who’ve been suddenly thrust out of the classroom and into a virtual education model.  

<%= partial "includes/blog/blog-merch-sidebar-dynamic" %>

## Tip 1: Adopt a single source of truth

While this term is pretty self-explanatory, it can’t be emphasized enough. When an entire company of people have to be on the same page, it is essential that everyone knows exactly what needs to happen, how it happens, and when it should happen. This same concept applies directly to an online class. 

Imagine you need to make a change in your class agenda for a project due tomorrow – where does that update need to appear? A syllabus schedule, due dates on folders, due dates on assignments, class calendars, and of course via email, etc. Chances are, you’ll miss making the update in one of those locations. Confusion and lots of emails with questions will ensue! (see [Tip 2](#tip-2-leverage-a-transparent-communication-tool)). 

The concept of a [single source of truth](/handbook/values/#single-source-of-truth) (SSoT) that serves as a living record has many benefits in a classroom setting. Students need a SSoT in order to build trust, confidence, and be successful in a course, especially when they are used to the reassurance of seeing teachers several times a week. A SSoT also minimizes the number of questions about logistics and allows you to spend more time discussing the content itself. 

### How to adopt a single source of truth

* Identify a tool (see [Tip 2](#tip-2-leverage-a-transparent-communication-tool)) that serves as the SSoT and document all relevant information such as due dates, schedules, directions, policies, etc. in this single location. 
* Avoid the temptation to list dates and policies on multiple documents such as calendars and assignments. 
* Update the SSoT as needed. As students ask questions, add the answers to the SSoT. This approach will save you time in answering questions down the road. 
* You will need to adjust as the cadence of the course develops, especially if this is your first time teaching it online. 
* Make sure students know that they will only need to look in this one location for any changes. 

## Tip 2: Leverage a [transparent communication tool](/company/culture/all-remote/remote-work-emergency-plan/#establish-a-handbook) 

If you are put in the situation of having to migrate to remote quickly, you probably don’t have much time to invest in a complicated setup.  Don’t worry, you can implement this tip by starting simple. 

First things first, the tool should not be email. Email is one of the most inefficient methods of communication for remote work. You and your students are better served when information is shared out in a way that everyone has the same knowledge. Reducing email’s allure will save you and your students time and energy. 

### [What do we recommend instead?](/company/culture/all-remote/remote-work-emergency-plan/#establish-a-handbook)

* A cloud-based word processor, such as Google Docs, is a great tool to get started with an SSoT. Ensure that you can easily update the document without downloading, uploading, and changing formats..
* We recommend using a tool that allows for live editing, so making changes is very simple and easy. 
* Adding timestamps to track updates can also be helpful so students know they are looking at the most recent information. 

### What other tools do I need?

Be sure to keep the [tech stack simple](/company/culture/all-remote/remote-work-emergency-plan/#minimize-your-tool-stack) and make sure everyone knows when to use which tool for each kind of communication. 
* For live meetings, we use [Zoom](https://zoom.us/) but whatever video conferencing tool your institution has will work. 
* For informal communication we use Slack, but there are other tools available such as Microsoft Teams. 
* If you need a more visual collaboration tool, consider using a tool such as [Mural](https://mural.co/). 

Let’s consider an example of how, when taken together, this approach can improve the experience for everyone in a remote environment whether teaching or learning. 

* A student asks a good question on the informal chat tool. You update the SSoT and direct the student to the answer there. Now students who may have the same question can see the response and know where to find the answer. 
* A student asks a question that is already in the SSoT. You direct the student to the correct link, thus minimizing the time it takes to answer the question. 
* A student asks a question that has been asked multiple times before. Private message the student, provide the SSoT link and suggest that he looks at the thread for answers in the future so he/she doesn’t need to wait for individualized responses. 

## Tip 3: Establish a [communication plan](/company/culture/all-remote/remote-work-emergency-plan/#establish-a-communications-plan)

For the first time in years, there’s no school bell ringing hourly or class schedule to keep everything on track! We recommend that you start by thinking about – and enjoying – **[asynchronous communication](/company/culture/all-remote/asynchronous/)** and then identify the [tool(s)](/company/culture/all-remote/remote-work-emergency-plan/#minimize-your-tool-stack) that you will use. 

First, let’s explore **asynchronous communication**. Working asynchronously removes the temptation to find a time that works for everyone and ensures that people who can’t make it to a specific event aren’t left out of the loop.

It is possible to strike a balance between providing key information in a self-service model while at the same time allowing for teams to ask questions and have discussions. Adopting a self-service model means that all content and relevant information is provided in a manner that students can easily find, read, and digest on their own ahead of time. With this approach, students can decide how much time to spend digging into the content according to their own needs and schedules. 

Recording a set of lectures ahead for an entire class, yet alone several classes' worth, is very daunting. Approaching lectures with an asynchronous communication style can help ease the burden on educators and at the same time provide effective mechanisms for discussion. 

### How can lectures be asynchronous?

* [Have an editable agenda](/company/culture/all-remote/meetings/#have-an-agenda)  for the actual lecture discussion where students can post their name and a question in a numbered list.
* Host a live video discussion where students voice their question(s) in the order on the agenda. If they aren’t present, read the question for them. 
* Answer the questions in the meeting and make sure someone is taking great notes. [Document everything](/company/culture/all-remote/meetings/#document-everything-live-yes-everything).  Try the [‘everyone is a moderator’](/handbook/communication/#everyone-is-a-moderator) concept to help run these meetings effectively. 
* Consider live-streaming the video directly to YouTube. This saves time and does not require you to download the recording, process it, and then upload back to your learning management system. The videos will be available on YouTube afterwards as well. 
* For more information, check out GitLab’s guide on [how to run remote meetings right](/company/culture/all-remote/meetings/#how-do-you-do-all-remote-meetings-right). You can also check a [recent example of a meeting livestream](https://www.youtube.com/watch?v=KMvrb0M3fFA) and an agenda to match (see below).

![Agenda screenshot](/images/blogimages/group-convo-agenda.jpg){: .shadow.medium.center}
A GitLab editable agenda after a meeting
{: .note.text-center}

## Tip 4: [Devote time to fostering relationships](/company/culture/all-remote/informal-communication/#devote-time-to-fostering-relationships) 

In all-remote environments, there should be a greater emphasis placed on carving out time to get to know one another as humans. To connect and bond as empathetic beings with interests, emotions, fears, and hopes – people, not just colleagues or classmates. This tip is especially useful when transitioning from an in-person to an online setting. Your students are probably already a bit stressed, overwhelmed, and missing in-person, in-classroom connections. 

### How can you foster a sense of community with your online class?

#### Try creating some fun channels in your online chat tool

GitLab has channels that are all business as well as a set of channels for fun topics such as cooking, fitness, and dogs. People who have similar interests will connect and share experiences, photos, recipes etc. Students who connect over their puppies or a great recipe are more likely to help eachother out with questions or study together. 

#### Consider starting your video conference five minutes early with a conversational slide as a starter

Students arriving early can chit-chat just as they may have done in person. It might take a few meetings and some encouragement to get the ball rolling, but they’ll soon look forward to this opportunity to connect with classmates. 

![GitLab marketing team Show & Tell social call](/images/all-remote/marketing-social-call-show-and-tell.jpg){: .shadow.medium.center}
A GitLab marketing team Show & Tell social call
{: .note.text-center}

#### Hold your office hours over a video conference

Students will be able to ask questions and have discussions, allowing them to build on the relationship with you and others they started in the in-person classroom. 

#### Try breakout groups

These are a great way to give students who may be less likely to speak up in a large group a chance to connect in a smaller setting.

#### Consider hosting an **“Ask Me Anything”** meeting

These meetings are open times when students can ask a variety of questions. The questions could be anything from career advice, to sharing thoughts on research projects, course advising etc. It doesn’t have to be all business either. 

#### Encourage group conversation rather than 1:1 wherever possible

This  helps to foster relations. We have some [guidelines that encourage collaboration through group communication](/handbook/communication/#avoid-private-messages). 

#### There are some cases where you may need to discuss something 1:1 with a student

We recommend clearly outlining when to use group and private conversations in your SSoT. 
	
Adopting some of these strategies for remote teaching and learning is fairly easy. In our experience at GitLab, we find that team members enjoy and respect the independence this way of working affords them.  Students want to be engaged, and encouraging them to contribute by asking questions and taking collective notes themselves will allow them to contribute directly. Start small and go from there.

We hope this information helps make the transition a little bit easier and challenges some conventions in the long term! To learn more about the GitLab Education Program read our blog post [How to bring GitLab to a classroom near you](/blog/2020/03/06/bring-gitlab-to-classroom-nearyou/).
 
Cover image by [Djurdjica Boskovic](https://unsplash.com/@escape_from_reality) on [Unsplash](https://unsplash.com/photos/G8_A4ZWxE3E)
{: .note}
